@media screen and (max-width: 767px){

}

@media screen and (min-width: 768px) and  (max-width: 991px) {
    
}

@media screen and (min-width: 992px) and  (max-width: 1024px) {
    
}

@media screen and (max-width: 1367px) {
    
}

@media screen and (max-width: 1367px) {
    .container{
        max-width: 1240px;
    }

    .combined-card{
        height: 500px;
    }

    .footer-wrapper{
        gap: 80px;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        max-width: 90%;
    }

    section:not(.hero-section) .container{
        max-width: 75%;
    }
}